*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A3C1AD;
    color:white;
    font-family: 'Questrial', sans-serif;
}


header{
    padding-top: 50px;
    padding-bottom: 10px;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #A3C1AD;
    /* min-height: 8vh; */
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



form input,
form button{
    padding: 5px;
    font-size: medium;
    border: none;
    color: black;
}

form button{
    padding: 5px;
    color: white;
    background: #A3C1AD;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: white;
    color:#A3C1AD;
}

.todo-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    background: #789b84;
    min-width: 50%;
    list-style: none;
}

.done-container{
    display: flex;
    justify-content: center;
}


.done-list{
    margin: 0.5rem;
    padding: 0.5rem;
    background: #A3C1AD;
    color:rgb(95, 95, 95);
    align-items: right;
    text-decoration: line-through;
    list-style: none;
}


.todo{
    margin: 0.5rem;
    padding: 0.5rem;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li{
    flex:1;
}

.done-button{
    padding: 2px;
    margin: 2px;
    border: none;
    background: #789b84;
    color: white;
}

.delete-button{
    border: none;
    padding: 2px;
    margin: 2px;
    background: #789b84;
    color: white
}

.done-button,
.delete-button{
    cursor: pointer;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.fa-trash, .fa-check{
    pointer-events: none;
}
